*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    /* text-align: justify */
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.logo{
    font-size: 45px;
    font-weight: bolder;
    /* color: rgb(228, 81, 71); */
    
}
.logo span{
    color: #e11212;
}
nav ul li{
    display:  inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: rgb(182, 18, 18);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.hero-text{
    margin: 20% 15%;
    font-size: 30px;
}
.hero-text h1{
    font-size: 60px;
}
.hero-text h1 span{
    /* color:#fa0909; */
    color: #e1fa03;
}
.hero-text h1 b{
    /* color: #e1fa03; */
    color:#ff004f;
}

/* ----------about-------------- */
#about{
    padding: 80px 0px;
    color: rgb(185, 180, 180);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 100%;
    border-radius: 15px;
}
.col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: whitesmoke;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #e11212;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 60%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ac0b3e;
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------Service------------ */


/* --------Projects-------------- */
#projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}
.layer a{
    margin-top: 20px;
    color: #fa0355;
    font-size: 20px;
    line-height: 50px;
    background-color: wheat;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;

}
.work:hover .layer{
    height: 100%;
}

/* --------------contact me------------ */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #fa0355;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:rgb(192, 189, 189);
    display: inline-block;
    transition: transform 0.5s;
    
}
.social-icons a:hover{
    color: #fa0355;
    transform: translateY(-5px);
}
.btn{
    text-decoration: none;
    background-color: #fa0355;
    display: inline-block;
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 40px 10px;
    color: whitesmoke;
    border-radius: 15px;
    transition: transform 0.5s;
}
.btn:hover{
    background-color: #e11212;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(51, 50, 50);
    padding: 15px;
    margin: 15px 0;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 6px;
}
form .btn{
    padding: 15px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    width: 100%;
    /* height: 80px; ; */
    text-align: center;
    padding: 30px 25px;
    background: rgb(54, 53, 53);
    font-weight: 500;
    margin-top: 20px;
}
nav .fa-solid{
    display: none;
}

/* -----------Responsive----------- */

@media only screen and (max-width:600px)  {
    #header{
        background-image: url(/images/phone-bg.jpg);
    }
    .hero-text{
       margin-top: 80%; 
       font-size: 20px;
    }
    .hero-text h1{
        font-size: 35px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #3d3a3b;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


    .sub-title{
        font-size: 40px;
    }
    .col-1, .col-2{
        flex-basis: 100%;
    }
    .col-1{
        margin-bottom: 30px;
    }
    .col-2{
        font-size: 15px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 15px;
    }
}